#about-section {
  .container-fluid {
    background-color: #ffe7dd;
  }

  .pl-5 {
    padding-left: 5%;
  }

  img {
    object-fit: cover;
  }

  h2 {
    font-size: 64px;
  }

  p {
    font-size: 32px;
  }

  @media (max-width: 992px) {
    .img-parallax {
      height: 30vh;
      background-image: url("../../assets/about-img.avif");
      background-position: bottom;
      background-size: cover;
      background-attachment: fixed;
    }
    img {
      position: inherit !important;
      display: none;
    }
  }
}
